
  <!-- Sección "Crear Departamento" -->
  <div class="container mt-5">
    <div class="card crear p-4 shadow-sm bg-light">
      <h2 class="text-center mb-4">Crear Departamento</h2>
      <form #departamentoForm="ngForm" (ngSubmit)="agregarDepartamento(departamentoForm)">
        
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="nuevoDepartamento.nombre"
            name="nombre"
            class="form-control"
            placeholder="Nombre del departamento"
            required
            minlength="4"
            maxlength="20"
            #nombre="ngModel"
            [ngClass]="{ 'is-invalid': nombre.touched && nombre.invalid }"
          />
          <div *ngIf="nombre.touched && nombre.invalid" class="invalid-feedback">
            <div *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</div>
            <div *ngIf="nombre.errors?.['minlength']">Debe tener al menos 4 caracteres.</div>
            <div *ngIf="nombre.errors?.['maxlength']">No puede exceder los 50 caracteres.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="departamentoForm.invalid">
          Guardar
        </button>
      </form>
    </div>
  </div>


  <!-- Filtros -->
<div class="container mt-5">
  <div class="card p-4 shadow-sm bg-light">
    <h2 class="text-center mb-4">Filtrar Proyectos</h2>
    <div class="row mb-4">
      <!-- Filtro por Nombre -->
      <div class="col-md-2">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchText"
          placeholder="Buscar por nombre"
        />
      </div>



  <!-- Sección "Departamentos Registrados" -->
  <div class="container mb-5">
    <div class="card registrados p-4 shadow-sm bg-light">
      <h2 class="text-center mb-4">Departamentos Registrados</h2>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let departamento of departamentos | puestoFilter:searchText"> 
            <td>{{ departamento.id }}</td>
            <td>{{ departamento.nombre }}</td>
            <td>
              <button type="button" class="btn btn-success mr-2" (click)="updateDepartamento(departamento)">
                Editar
              </button>
              <button type="button" class="btn btn-danger" (click)="eliminarDepartamento(departamento.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>

