<body>
  <!-- Formulario Crear/Editar Responsable -->
  <div class="container mt-5">
    <div class="card crear p-4 shadow-sm">
      <h2 class="mb-4">{{ responsableForm.get('id')?.value ? 'Editar Responsable' : 'Crear Responsable' }}</h2>
      <form [formGroup]="responsableForm" (ngSubmit)="agregarResponsable()">
        <!-- Fila 1: Nombre y Apellido -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              id="nombre"
              formControlName="nombre"
              class="form-control"
              placeholder="Nombre del responsable"
              [ngClass]="{ 'is-invalid': responsableForm.get('nombre')?.invalid && responsableForm.get('nombre')?.touched }"
            />
            <div *ngIf="responsableForm.get('nombre')?.invalid && responsableForm.get('nombre')?.touched" class="invalid-feedback">
              <div *ngIf="responsableForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</div>
              <div *ngIf="responsableForm.get('nombre')?.hasError('minlength')">El nombre debe tener al menos 4 caracteres.</div>
              <div *ngIf="responsableForm.get('nombre')?.hasError('maxlength')">El nombre no puede exceder los 30 caracteres.</div>
              <div *ngIf="responsableForm.get('nombre')?.hasError('pattern')">El nombre solo puede contener letras y espacios.</div>
            </div>
          </div>
          
          <div class="col-md-6">
            <label for="apellido">Apellido</label>
            <input
              type="text"
              id="apellido"
              formControlName="apellido"
              class="form-control"
              placeholder="Apellido del responsable"
              [ngClass]="{ 'is-invalid': responsableForm.get('apellido')?.invalid && responsableForm.get('apellido')?.touched }"
            />
            <div *ngIf="responsableForm.get('apellido')?.invalid && responsableForm.get('apellido')?.touched" class="invalid-feedback">
              <div *ngIf="responsableForm.get('apellido')?.hasError('required')">El apellido es obligatorio.</div>
              <div *ngIf="responsableForm.get('apellido')?.hasError('minlength')">El apellido debe tener al menos 4 caracteres.</div>
              <div *ngIf="responsableForm.get('apellido')?.hasError('maxlength')">El apellido no puede exceder los 30 caracteres.</div>
              <div *ngIf="responsableForm.get('apellido')?.hasError('pattern')">El apellido solo puede contener letras y espacios.</div>
            </div>
          </div>
          
        </div>
        

        <!-- Fila 2: Correo y Celular -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="correo">Correo</label>
            <input
              type="email"
              id="correo"
              formControlName="correo"
              class="form-control"
              placeholder="example@gmail.com"
              [ngClass]="{ 'is-invalid': responsableForm.get('correo')?.invalid && responsableForm.get('correo')?.touched }"
            />
            <div *ngIf="responsableForm.get('correo')?.invalid && responsableForm.get('correo')?.touched" class="invalid-feedback">
              Ingrese un correo válido.
            </div>
          </div>
          <div class="col-md-6">
            <label for="celular">Celular</label>
            <input
              type="tel"
              id="celular"
              formControlName="celular"
              class="form-control"
              placeholder="Número de 10 dígitos"
              [ngClass]="{ 'is-invalid': responsableForm.get('celular')?.invalid && responsableForm.get('celular')?.touched }"
            />
            <div *ngIf="responsableForm.get('celular')?.invalid && responsableForm.get('celular')?.touched" class="invalid-feedback">
              Ingrese un número de celular válido (10 dígitos).
            </div>
          </div>
        </div>

        <!-- Fila 3: Departamento y Puesto -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="departamento">Departamento</label>
            <select
              id="departamento"
              formControlName="departamento"
              class="form-control"
              [ngClass]="{ 'is-invalid': responsableForm.get('departamento')?.invalid && responsableForm.get('departamento')?.touched }"
            >
              <option value="null" disabled>Seleccione un departamento</option>
              <option *ngFor="let departamento of departamentos" [ngValue]="departamento">
                {{ departamento.nombre }}
              </option>
            </select>
            <div *ngIf="responsableForm.get('departamento')?.invalid && responsableForm.get('departamento')?.touched" class="invalid-feedback">
              Seleccione un departamento.
            </div>
          </div>
          <div class="col-md-6">
            <label for="puesto">Puesto</label>
            <select
              id="puesto"
              formControlName="puesto"
              class="form-control"
              [ngClass]="{ 'is-invalid': responsableForm.get('puesto')?.invalid && responsableForm.get('puesto')?.touched }"
            >
              <option value="null" disabled>Seleccione un puesto</option>
              <option *ngFor="let puesto of puestos" [ngValue]="puesto">
                {{ puesto.nombre }}
              </option>
            </select>
            <div *ngIf="responsableForm.get('puesto')?.invalid && responsableForm.get('puesto')?.touched" class="invalid-feedback">
              Seleccione un puesto.
            </div>
          </div>
        </div>

        <!-- Botón Guardar/Actualizar -->
        <button type="submit" class="btn btn-primary btn-block" [disabled]="responsableForm.invalid">
          {{ responsableForm.get('id')?.value ? 'Actualizar' : 'Guardar' }}
        </button>
      </form>
    </div>
  </div>

  <!-- Tabla de Responsables -->
  <div class="container mt-5">
    <div class="card registrados p-4 shadow-sm">
      <h2 class="mb-4">Responsables Registrados</h2>

      <!-- Filtros dentro de la tabla -->
      <div class="row mb-4 py-3" style="background-color: #eaf4fc; border-radius: 8px;">
        <div class="col-12 d-flex justify-content-center flex-wrap">
          <!-- Filtro por Nombre -->
          <div class="px-2 mb-2" style="min-width: 180px;">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchText"
              placeholder="Buscar por nombre"
            />
          </div>
          <!-- Filtro por Apellido -->
          <div class="px-2 mb-2" style="min-width: 180px;">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="apellidoFiltro"
              placeholder="Buscar por apellido"
            />
          </div>
          <!-- Filtro por Correo -->
          <div class="px-2 mb-2" style="min-width: 180px;">
            <input
              type="email"
              class="form-control"
              [(ngModel)]="correoFiltro"
              placeholder="Buscar por correo"
            />
          </div>
          <!-- Filtro por Departamento -->
          <div class="px-2 mb-2" style="min-width: 180px;">
            <select class="form-control" [(ngModel)]="departamentoFiltro">
              <option value="">Filtrar por Departamento</option>
              <option *ngFor="let departamento of departamentos" [value]="departamento.nombre">
                {{ departamento.nombre }}
              </option>
            </select>
          </div>
          <!-- Filtro por Puesto -->
          <div class="px-2 mb-2" style="min-width: 180px;">
            <select class="form-control" [(ngModel)]="puestoFiltro">
              <option value="">Filtrar por Puesto</option>
              <option *ngFor="let puesto of puestos" [value]="puesto.nombre">
                {{ puesto.nombre }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Tabla de Responsables -->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let responsable of responsables | responsableFilter:searchText:apellidoFiltro:correoFiltro:celularFiltro:departamentoFiltro:puestoFiltro | paginate: { itemsPerPage: pageSize, currentPage: page }"
          >
            <td>{{ responsable.id }}</td>
            <td>{{ responsable.nombre }}</td>
            <td>{{ responsable.apellido }}</td>
            <td>{{ responsable.correo }}</td>
            <td>{{ responsable.celular }}</td>
            <td>{{ getPuestoNombre(responsable.puesto?.id ?? null) }}</td>
            <td>{{ getDepartamentoNombre(responsable.departamento?.id ?? null) }}</td>
            <td>
              <button (click)="updateResponsable(responsable)" class="btn btn-success btn-sm">Editar</button>
              <button (click)="eliminarResponsable(responsable.id!)" class="btn btn-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Componente de Paginación -->
      <pagination-controls
        (pageChange)="page = $event"
        [responsive]="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        class="d-flex justify-content-center mt-4"
      ></pagination-controls>
    </div>
  </div>
</body>