<body>
  <div class="container mt-5">
    <!-- Sección de Crear Tarea -->
    <div class="card crear p-4 shadow-sm">
      <h2 class="text-center mb-4">{{ isEditMode ? 'Editar tarea' : 'Crear tarea' }}</h2>
      <form [formGroup]="tareaForm" (ngSubmit)="onSubmit()">
        <!-- Fila 1: Nombre y Prioridad -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                id="nombre"
                formControlName="nombre"
                class="form-control"
                placeholder="Nombre de la tarea"
                [ngClass]="{ 'is-invalid': tareaForm.get('nombre')?.invalid && tareaForm.get('nombre')?.touched }"
              />
              <!-- Mensajes de error -->
              <div *ngIf="tareaForm.get('nombre')?.invalid && tareaForm.get('nombre')?.touched" class="invalid-feedback">
                <div *ngIf="tareaForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</div>
                <div *ngIf="tareaForm.get('nombre')?.hasError('minlength')">El nombre debe tener al menos 4 caracteres.</div>
                <div *ngIf="tareaForm.get('nombre')?.hasError('maxlength')">El nombre no puede exceder 30 caracteres.</div>
                <div *ngIf="tareaForm.get('nombre')?.hasError('pattern')">El nombre no puede contener números ni caracteres especiales.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="prioridad">Prioridad</label>
              <select
                id="prioridad"
                formControlName="prioridad"
                class="form-control"
                [ngClass]="{ 'is-invalid': tareaForm.get('prioridad')?.invalid && tareaForm.get('prioridad')?.touched }"
              >
                <option value="" disabled>Seleccione una prioridad</option>
                <option value="Alta">Alta</option>
                <option value="Baja">Baja</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Fila 2: Responsable y Estado -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="responsable">Responsable</label>
              <select
                id="responsable"
                formControlName="responsable"
                class="form-control"
                [ngClass]="{ 'is-invalid': tareaForm.get('responsable')?.invalid && tareaForm.get('responsable')?.touched }"
              >
                <option value="null" disabled>Seleccione un responsable</option>
                <option *ngFor="let responsable of responsables" [ngValue]="responsable">
                  {{ responsable.nombre }} {{ responsable.apellido }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="estado">Estado</label>
              <select
                id="estado"
                formControlName="estado"
                class="form-control"
                [ngClass]="{ 'is-invalid': tareaForm.get('estado')?.invalid && tareaForm.get('estado')?.touched }"
              >
                <option value="" disabled>Seleccione un estado</option>
                <option value="Nuevo">Nuevo</option>
                <option value="En progreso">En progreso</option>
                <option value="Cerrado">Cerrado</option>
                <option value="Rechazado">Rechazado</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Fila 3: Proyecto -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="proyecto">Proyecto</label>
              <select
                id="proyecto"
                formControlName="proyecto"
                class="form-control"
                [ngClass]="{ 'is-invalid': tareaForm.get('proyecto')?.invalid && tareaForm.get('proyecto')?.touched }"
              >
                <option value="null" disabled>Seleccione un proyecto</option>
                <option *ngFor="let proyecto of proyectos" [ngValue]="proyecto">
                  {{ proyecto.nombre }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!-- Botón -->
        <button type="submit" class="btn btn-primary btn-block" [disabled]="tareaForm.invalid">
          {{ isEditMode ? 'Actualizar' : 'Guardar' }}
        </button>
      </form>
    </div>
  </div>

  <!-- Tabla de Responsables -->
  <div class="container mt-5">
    <div class="card registrados p-4 shadow-sm">
      <h2 class="mb-4">Tareas Registradas</h2>
      <div class="row mb-4 py-3 justify-content-start align-items-center" style="background-color: #eaf4fc; border-radius: 8px;">
        <div class="col-md-6 px-3">
          <label for="ordenarPor">Ordenar por</label>
          <select class="form-control" id="ordenarPor" [(ngModel)]="orderBy" (change)="cambiarOrden(orderBy)">
            <option value="id">ID</option>
            <option value="nombre">Nombre</option>
          </select>
        </div>
        <div class="col-md-6 px-3">
          <label for="direccionOrden">Dirección</label>
          <select class="form-control" id="direccionOrden" [(ngModel)]="orderDirection">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
          </select>
        </div>
      </div>

      <div class="row mb-4 py-3 justify-content-center" style="background-color: #eaf4fc; border-radius: 8px;">
        <div class="col-md-2 px-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchText"
            (input)="buscarTareasPorNombre(searchText)"
            placeholder="Buscar por nombre"
          />
        </div>
        <div class="col-md-2 px-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchPrioridad"
            (input)="buscarTareasPorPrioridad(searchPrioridad)"
            placeholder="Buscar por prioridad"
          />
        </div>
        <div class="col-md-2 px-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchEstado"
            (input)="buscarTareasPorEstado(searchEstado)"
            placeholder="Buscar por estado"
          />
        </div>
        <div class="col-md-2 px-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchResponsable"
            (input)="buscarTareasPorResponsable(searchResponsable)"
            placeholder="Buscar por responsable"
          />
        </div>
        <div class="col-md-2 px-2">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchProyecto"
            (input)="buscarTareasPorProyecto(searchProyecto)"
            placeholder="Buscar por proyecto"
          />
        </div>
      </div>

      <!-- Tabla -->
      <table class="table table-striped table-bordered" id="tablaTareas">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre Tarea</th>
            <th>Prioridad</th>
            <th>Responsable</th>
            <th>Estado</th>
            <th>Proyecto</th>
            <th>Fecha de Registro</th>
            <th>Fecha de Cierre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas | tareaOrder: searchText : searchPrioridad : searchEstado : searchResponsable: searchProyecto : orderBy : orderDirection | paginate: { itemsPerPage: pageSize, currentPage: page }" class="align-middle">
            <td>{{ tarea.id }}</td>
            <td>{{ tarea.nombre }}</td>
            <td>{{ tarea.prioridad }}</td>
            <td>{{ tarea.responsable?.nombre }} {{ tarea.responsable?.apellido }}</td>
            <td>{{ tarea.estado }}</td>
            <td>{{ tarea.proyecto?.nombre }}</td>
            <td>{{ tarea.createAt | date }}</td>
            <td>{{ tarea.createAtc | date }}</td>
            <td>
              <button class="btn btn-success" (click)="updateTarea(tarea)">Editar</button>
              <button
                class="btn btn-danger btn-sm"
                (click)="tarea.id ? eliminarTarea(tarea.id) : null"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Componente de Paginación -->
      <pagination-controls
        (pageChange)="page = $event"
        [responsive]="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        class="d-flex justify-content-center mt-4">
      </pagination-controls>
      <div class="text-center mt-4">
        <button class="btn btn-info" (click)="exportarPDF()">
          Exportar a PDF
        </button>
      </div>
    </div>
  </div>
</body>
